extends ../layout

block content
    h1= product.product_name
    div Rating:5
    div
        a(href=`/products/edit/${product.id}`) Edit
        a(href=`/products/delete/${product.id}`) Delete
    p= product.description
    a(href='/products') Back to Products
